@model LocalTaste.Domain.POCO.Restaurant
@{
    ViewBag.Title = "Details";
}

<header>

    <div class="page-title">
        <h2>Local Taste</h2>
        <div class="page-meta">Welcome to your restuarant home page</div>
    </div>

</header>

<!-- Main Content starts -->
<!-- For sheets effect -->
<div class="main-sheet1"></div>
<div class="main-sheet2"></div>
<div class="main-sheet3"></div>

<div class="main">
    <div class="container">
        <div class="row">
            <h3>@Model.Name</h3>
            <hr />
            <div class="col-md-12 col-sm-12">

                <!-- About -->
                <div class="rblock">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <h4>Basic Info</h4>
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <div class="rinfo">
                                <h5>Phone Number</h5>
                                <div class="rmeta">@Model.PhoneNumber</div>
                            </div>
                            <div class="rinfo">
                                <h5>Address</h5>
                                <div class="rmeta">@Model.Address.Street @Model.Address.City @Model.Address.State @Model.Address.Zip </div>
                            </div>
                            <div class="rinfo">
                                <h5>Hourse</h5>
                                <div class="rmeta">Open: @Model.OpenTime Close: @Model.CloseTime </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <h4>Reviews</h4>
                <div class="col-md-8 col-sm-8">
                    <div class="posts">
                        @foreach (var review in Model.Reviews)
                        {
                            <div class="entry">
                                <!-- Meta details -->
                                <div class="meta">
                                    <i class="icon-calendar"></i> 26-2-2012 <i class="icon-user"></i> Admin 
                                </div>

                                <p>@review.Message</p>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>