@model IEnumerable<LocalTaste.Domain.POCO.Restaurant>

@{
    ViewBag.Title = "Index";
}

<header>

    <div class="page-title">
        <h2>Restaurants</h2>
    </div>

</header>

<!-- Main Content starts -->
<!-- For sheets effect -->
<div class="main-sheet1"></div>
<div class="main-sheet2"></div>
<div class="main-sheet3"></div>

<div class="main">
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WebsiteUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OpenTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CloseTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriceRating)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WebsiteUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpenTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CloseTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceRating)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>